<div class="navbar-container">
  <div class="navbar-logo">
      <h5><img src="assets/adeprologo.jpeg" alt="Logo ADEPRO"></h5>
  </div>
  <nav class="navbar-nav">
    
    <a routerLink="/">Accueille</a>
    <a routerLink="/ingredients">Ingrédients</a>
    <a routerLink="/recettes">Recettes</a>
    <a routerLink="/createingredient">Création d'ingredient</a>
    <a routerLink="/managementingredient">Gestion</a>
    <a routerLink="/createrecette">Création de recette</a>
</nav>
  <a class="navbar-btn" href="#">Connection</a>
</div>

